{% extends 'base.html' %}

{% block title %}Про нас{% endblock %}
{% block head %}
<div class="container">
    <h1>Трішки про нас та наші послуги</h1>
    <br>
    <h5>
        Всі наші автомобілі в належному стані пройшли перевірку в МРЕО та базове технічне обслуговування.
        Також ми можемо підібрати автомобіль особисто для вас варіант,
        привезти із-за кордону та підготувати всі необхідні документи.
    </h5>
    <br>
    <b>Наші переваги: </b>
    <ul>
        <li>Швидка та зручна доставка</li>
        <li>Перевірені авто з прозорою історією та офіційною  документацією</li>
        <li>Не співпрацюємо з країною агресором</li>
        <li>Низькі ціни</li>
        <li>Великий автопарк</li>
        <li>Тисячі позитивних відгуків наших клієнтів</li>
        <li>Конфіденційність ваших даних</li>
    </ul>
    <br>
    <b>Умови купівлі/продажу: </b>
    <ul>
        <li>Наявність дійсного водійського посвідчення відповідної категорії </li>
        <li>Оплата готівкою або картою</li>
        <li>Розстрочка з мінімальним процентом</li>
        <li>Огляд авто в комфортному для вас місці</li>
        <li>Безкоштовний тест-драйв</li>
    </ul>
    <br>
    <b>Наші послуги</b>
    <ul>
        <li>Продаж вживаних автомобілів</li>
        <li>Пошук авто за вашими критеріями</li>
        <li>Відео огляди наших авто</li>
        <li>Підбірки автомобілів за різними параметрами</li>
    </ul>

</div>
{% endblock %}