{% extends 'base.html' %}

{% block title %}Контакти{% endblock %}
{% block head %}
<div class="container">
    <h1>Наші контакти</h1>
    <br>
    <p>З будь-яких питань дзвоніть нам на наш контактний номер телефону  <b>098 654 89 23</b> <br> <b>067 654 89 23</b>
        з 10:00 до 20:00 </p>
    <p>Або пишіть на електронну пошту  <b>uam.auto@gamil.com</b><br>
    Будемо раді вам допомогти</p>
    <p>Також будемо раді вас бачити в нашому офісі, що знаходить за адресою  <b>Київ, вул. Григорія Гонгадзе 23, офіс 45
    Одеса, бульвар Десантний 12, офіс 23
    Миколаїв, вул. Авіаторів 4  </b></p>
</div>
{% endblock %}