{% extends 'base.html' %}

{% block title %}CarMarket{% endblock %}
{% block head %}
<h1 class="text-center">Вас вітає компанія CarMarket.</h1>
<div class="container text-center">
    <h5>
        Наша компанія продає вживані автомобілі різноманітних категорій та марок.
        Ми співпрацюємо з десятками партнерів з різних країн, таких як : США, Україна, Німеччина, Японія  та інші.
    </h5>
    <br>
    <h5>
        Наша компанія була заснована в 2009 році в м. Києві. На даний момент в нашій клієнтській базі
        понад 10 тисяч покупців, які із задоволенням користуються нашими послугами.
        Ми є офіційно зареєстрована компанія, що сплачую податки та усіма силами допомагає нашій армії та країні.
        Наразі ми маємо офіси в багатьох містах України.
    </h5>
</div>
{% endblock %}